{% extends 'base.html' %}

{% block conteudo %}
	<div class="container">
		<h1 style="text-align:center;">Integração Python e Flask</h1>
		<hr>
		<ul class="list-group">
		{% for fruta in frutas %}
		    <li class="list-group-item">{{fruta}}</li>
		{% endfor %}
		</ul>
		<form action="{{url_for('principal')}}" method="POST" class="form-group">
			<label>Fruta</label>
			<input class= "form-control" type="text" name="fruta" required placeholder="Digite o nome da fruta">
			<button class="btn btn-success">Adicionar</button>
		</form>
	</div>
{% endblock conteudo %}